Flask==1.0.2
Flask-Admin==1.5.2
flask-apispec==0.7.0
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-Blogging==1.1.0
Flask-Caching==1.4.0
Flask-Cors==3.0.4
Flask-FileUpload==0.5.0
flask-heroku==0.1.9
Flask-JWT-Extended==3.13.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.3.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-User==0.6.21
Flask-WTF==0.14.2
gunicorn==19.9.0
psycopg2