{% extends "layout.html" %}

{% block content %}

<!-- <div id="landing-cover">
  <div class="vert-text">
    <img src="https://web.casadi.org/_img/logo_2017_horizontal.png" class="logo">
    <div class="description"></div>
  </div>
  <div class="scroll">
    <i class="fa fa-angle-down fa-2x"></i>
  </div>
</div> -->

<div id="main" class="container landing">
    <div class="row">
        <div class="col text-center">
            <div class="row subtitle">
                <p><big><b>Blockchain and Cryptoasset Analytics</b></big></p>
                <p><small>Aggregated data visualization, hybrid AI prediction and computer aided trading</small></p>
            </div>
            <div class="text-left">
                <h2 class="text-center">Manifesto</h2>
                <p>
                    <em>Blockchain and Cryptoasset Analytics</em> develops an intelligent data driven application to monitor blockchain projects and to analyze cryptoassets from both utility and speculation perspectives. We target blockchain entrepreneurs, investors and traders all along the life of projects: token generation, listing on secondary market, product delivery, product usage, and token valorization.
                </p>
                <p>
                    Beside real-time analytics service, few research and analysis will be delivered through blog which serves as our information service.
                </p>
                <img src="https://kenhtaichinh.herokuapp.com/static/about.png">
            </div>
        </div>
    </div>
    <hr class="sep"> 
    <div class="row">
        <div class="col text-center">
            <h2 class="text-center">Aggregated data visualization</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="multisnip text-left">
                        <div class="highlight">
                        <pre><code data-lang="Selling Heatmap"></code></pre>
                            <img src="https://kenhtaichinh.herokuapp.com/static/daily_sell_volume.png">
                        </div>
                        <div class="highlight">
                        <pre><code data-lang="Supply & Demand"></code></pre>
                            <img src="https://kenhtaichinh.herokuapp.com/static/EVXBTC.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-6  text-left">
                Data viz does matter in finance, particularly in crypto-market. On-chain statistical metrics, market liquidity with limit order book, and news sentiments are among important features for prediction. Aggregating as much as possible data is thus crucial for traders' decision-making to counteract with market movement.
                </div>
            </div> 
        </div>
    </div>
    <hr class="sep"> 
    <div class="row">
        <div class="col text-center">
            <h2 class="text-center">Hybrid AI prediction</h2>
            <div class="row">
                <div class="col-md-6  text-left">
                Along with feature engineering based on expert knowledge, ensemble prediction model using the known gradient boosting is currently under developed that generate alpha. These hybrid signals are delivered asinstantly within our service or Telegram / Discord chatbot.
                </div>
                <div class="col-md-6">
                    <div class="multisnip text-left">
                        <div class="highlight">
                        <pre><code data-lang="Chatbot"></code></pre>
                            <img src="https://kenhtaichinh.herokuapp.com/static/0.jpg">
                        </div>
                        <div class="highlight">
                        <pre><code data-lang="Price Prediction"></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="sep"> 
        <div class="row">
            <div class="col text-center">
                <h2 class="text-center">Computer aided trading</h2>
                <div class="row">
                <div class="col-md-6">
                    <div class="multisnip text-left">
                        <div class="highlight">
                        <pre><code data-lang="Portfolio Optimization"></code></pre>
                            <img src="https://kenhtaichinh.herokuapp.com/static/portfolio_optimization.png">
                        </div>
                        <div class="highlight">
                        <pre><code data-lang="Market-making"></code></pre>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6  text-left">
                    Not only classic retailer trading strategies such as trailing-stoploss or short-sell are supported, we are also developing complex institutional market-making algorithms for optimal execution of large order in illiquid markets, accordingly counteract to the traditional high frequency trading systems.
                    </div>
                </div> 
            </div>
        </div>
    <hr class="sep"> 
    <div class="row">
        <div class="col text-center">
            <h2 class="text-center">About</h2>
            <div class="text-left">
                <p>
                Our team is comprised of enthusiastic scholars in optimization and machine learning, software engineers and marketting manager. We are advised by experienced institutional brokers / investors as well as high-profile university professors in data science / statistics. We are a large crypto-community with bitcoin and altcoins hedged fund, facilitating cryptoasset adoption and awareness.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
